<footer>
    <div class="inner">
        <div class="socialf">
            {% include "social.html" %}
            <a href="/me">Josh Young - © 2025</a>
        </div>
        <div class="fsub">
            Icons made by
            <a href="https://www.flaticon.com/authors/freepik" title="Freepik">
                Freepik
            </a>
            and
            <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">
                Pixel perfect
            </a>
            from
            <a href="https://www.flaticon.com/" title="Flaticon">
                www.flaticon.com
            </a>.
            Also icon(s) from <a href='https://www.iconfinder.com/icons/4691606/pluralsight_icon'>iconfinder</a>.
        </div>
        <div class="quote">
            "Nōn nōbīs, Domine, nōn nōbīs, sed nōminī tuō dā glōriam."
        </div>
    </div>
</footer>