<style>
    .logo {
        font-size: 52px;
        font-family: "Acme", sans-serif;
        display: block;
    }
    .logo span {
        color: #3385ff;
    }
    .logo .subtitle {
         font-size: 20px;
        color: #3385ff;
        &:before {
          content: "{ ";
          color: #b3b3b3;
        }
        &:after {
          content: " }";
          color: #b3b3b3;
        }
    }
</style>
<a class="logo" href="/">
    <div>
        Josh A<span>.</span> Young
    </div>
    <div class="subtitle">
        Mobile Software Engineer
    </div>
</a>