.intro {
  padding: 20px 0;
  font-size: 30px;
  font-family: "Acme", sans-serif;
  margin-bottom: 50px;
  line-height: 1.7;
}
.intro span:not(.dot) {
  background: #3385ff;
  display: inline-block;
  padding: 0 10px;
  font-size: 28px;
  color: #fff;
}
.intro span:not(.dot) a {
  color: #fff;
}
.intro .dot {
  color: #3385ff;
  margin-right: 10px;
}

.side-links {
  padding-bottom: 10px;
  border-bottom: 3px solid #3385ff;
  margin-bottom: 50px;
}
.side-links:last-child {
  border-bottom: none;
}
.side-links header {
  font-family: "Acme", sans-serif;
  font-size: 24px;
  margin-bottom: 5px;
  color: #3385ff;
}
.side-links header a {
  color: #3385ff;
}
.side-links header:before {
  content: "{ ";
  color: #b3b3b3;
}
.side-links header:after {
  content: " }";
  color: #b3b3b3;
}
.side-links ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin-left: 0;
}
.side-links ul li {
  display: inline-block;
  padding: 5px 10px;
  background: rgba(204, 204, 204, 0.4);
  background: rgba(179, 119, 0, 0.3607843137);
  background: #ffbb33;
  background: rgba(255, 187, 51, 0.6392156863);
  border: 1px solid #f4f4f4;
  padding: 4px 10px;
  border-radius: 4px;
  margin: 4px;
}

.posts {
  margin-bottom: 50px;
}
.posts.last {
  margin-bottom: 0;
}
.posts header {
  font-family: "Acme", sans-serif;
  color: #3385ff;
  padding: 3px;
}
.posts header:before {
  content: "{ ";
  color: #b3b3b3;
}
.posts header:after {
  content: " }";
  color: #b3b3b3;
}

.social svg {
  width: 15px;
  height: 15px;
  margin: 0 2px;
}
.social .svg-social {
  fill: #3385ff;
}

footer {
  background: #efefef;
  border-top: solid 1px #3385ff;
  height: 125px;
  margin-top: -100px;
  padding: 0 10px;
  padding-top: 20px;
}
@media (min-width: 600px) {
  footer {
    height: 80px;
    margin-top: -80px;
  }
}
footer .sub-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 12px;
  text-align: right;
}
@media (min-width: 600px) {
  footer .sub-wrap {
    align-items: flex-start;
  }
}
footer .inner {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media (min-width: 600px) {
  footer .inner {
    flex-direction: row;
    align-items: flex-end;
  }
}
footer .social {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 20px;
}
@media (min-width: 600px) {
  footer .social {
    order: 3;
    margin-bottom: 0px;
  }
}
footer .fsub {
  color: #999999;
}
footer .fsub a {
  color: #999999;
}
footer .quote {
  color: #999999;
}
footer .social a {
  display: inline-block;
  font-size: 14px;
}

@media (min-width: 600px) {
  .stats {
    display: flex;
    flex-direction: wrap;
    justify-content: space-between;
  }
}

.hamburger {
  cursor: pointer;
  z-index: 100;
  outline: none;
  background: transparent;
  display: inline-block;
  padding: 20px;
  border: none;
  position: relative;
  user-select: none;
  /* TODO: Restricts going to full height at wide resolutions */
  max-height: 62px;
}
@media (min-width: 700px) {
  .hamburger {
    display: none;
  }
}
.hamburger span {
  display: inline-block;
  background: #000;
  height: 0.25rem;
  position: relative;
  width: 2rem;
  transition: background 0.4s ease;
}
.hamburger span:before, .hamburger span:after {
  display: inline-block;
  background: #000;
  width: 2rem;
  content: "";
  height: 0.25rem;
  position: absolute;
  left: 0;
}
.hamburger span:before, .hamburger span:after {
  transition: top 0.4s 0.4s ease, transform 0.4s ease;
  transform-origin: 50% 50% 0;
}
.hamburger span:before:hover, .hamburger span:after:hover {
  background: #000;
}
.hamburger span:before {
  top: -0.6rem;
}
.hamburger span:after {
  top: 0.6rem;
}

.logo {
  fill: black;
  font-size: 52px;
  font-family: "Acme", sans-serif;
  display: block;
}
.logo span {
  color: #3385ff;
}
.logo .subtitle {
  font-size: 20px;
  color: #3385ff;
}
.logo .subtitle:before {
  content: "{ ";
  color: #b3b3b3;
}
.logo .subtitle:after {
  content: " }";
  color: #b3b3b3;
}

nav {
  transform: translateX(-100%);
  transition: transform 0.7s, visibility 0.7s;
  perspective: 1000px;
  position: fixed;
  background: rgba(195, 205, 220, 0.98);
  left: 0;
  visibility: hidden;
  height: 100%;
  top: 0;
  padding-top: 80px;
  width: 100%;
}
@media (min-width: 700px) {
  nav {
    visibility: visible;
    transform: translateX(0);
    position: static;
    width: 130px;
    margin: 90px 10px 0 52px;
    background: none;
  }
}

.nav ul {
  margin: 0;
  transform-origin: left center;
  transform: rotateY(90deg);
  transition: transform 0.7s;
  list-style-type: none;
  position: relative;
}
@media (min-width: 700px) {
  .nav ul {
    transform: rotateY(0deg);
  }
}
.nav ul a {
  padding: 10px 20px 10px 20px;
  display: block;
  margin-bottom: 2px;
  color: #000;
}
.nav ul a:last-child {
  margin-bottom: 0;
}
.nav ul a.active {
  background: #fff;
  color: #3385ff;
}
@media (min-width: 700px) {
  .nav ul a.active {
    background: none;
  }
}
@media (min-width: 700px) {
  .nav ul a {
    text-align: right;
    padding: 10px;
    color: #000;
  }
}
.nav ul a:hover {
  background: #fff;
  color: #000;
}
@media (min-width: 700px) {
  .nav ul a:hover {
    color: #3385ff;
    background: none;
  }
}

a.gototop {
  display: none;
  bottom: 0;
  left: 200px;
  padding: 2px 10px;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  font-size: 14px;
  color: #fff;
  background-color: #3385ff;
}
a.gototop:hover {
  text-decoration: underline;
  color: #fff;
}

.tags {
  padding-bottom: 10px;
  border-bottom: 3px solid #3385ff;
  margin-bottom: 50px;
}
.tags:last-child {
  border-bottom: none;
}
.tags header {
  font-family: "Acme", sans-serif;
  font-size: 24px;
  margin-bottom: 5px;
  color: #3385ff;
}
.tags header a {
  color: #3385ff;
}
.tags header:before {
  content: "{ ";
  color: #b3b3b3;
}
.tags header:after {
  content: " }";
  color: #b3b3b3;
}
.tags ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin-left: 0;
}
.tags ul a {
  display: inline-block;
  padding: 5px 10px;
  background: rgba(204, 204, 204, 0.4);
  background: rgba(179, 119, 0, 0.3607843137);
  background: #ffbb33;
  background: rgba(255, 187, 51, 0.6392156863);
  border: 1px solid #f4f4f4;
  padding: 4px 10px;
  border-radius: 4px;
  margin: 4px;
}

.latest_posts {
  margin-bottom: 50px;
}
.latest_posts header {
  font-family: "Acme", sans-serif;
  color: #3385ff;
  padding: 3px;
}
.latest_posts header:before {
  content: "{ ";
  color: #b3b3b3;
}
.latest_posts header:after {
  content: " }";
  color: #b3b3b3;
}

.tech-skills-wrap ul {
  margin-left: 0;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.tech-skills-wrap ul:last-child {
  border-bottom: none;
}
.tech-skills-wrap ul li {
  flex: 0 1 auto;
  padding: 0 6px;
  font-size: pxToRem(12px);
  padding: 0 pxToRem(6px);
}
.tech-skills-wrap ul li:first-of-type {
  font-weight: bold;
  color: green;
}
.tech-skills-wrap ul li:first-of-type:after {
  content: ": ";
}

.thought {
  border-bottom: 3px solid rgb(204, 204, 204);
  margin-bottom: 40px;
}
.thought a {
  color: rgb(51, 133, 255);
}
.thought .date {
  font-size: 12px;
}

.cert-image {
  display: flex;
}
.cert-image .image-wrap {
  padding-right: 10px;
}
.cert-image img {
  height: auto;
  width: auto;
  height: auto;
  max-width: 100px;
  max-height: 100px;
}
.cert-image .image-description p {
  margin: 0;
}

a.about-cert {
  margin-top: 10px;
  display: block;
  font-size: 14px;
  font-style: italic;
  color: #3385ff;
}

.anchor-list {
  list-style-type: none;
  margin-left: 0;
}
.anchor-list li {
  display: inline-block;
}
.anchor-list a {
  display: block;
  padding: 2px 10px;
  margin: 2px;
  background: #3385ff;
  color: #fff;
  border-radius: 4px;
}
.anchor-list a:hover {
  background: rgba(204, 204, 204, 0.4);
  color: #000;
}

.resources h3 {
  color: rgb(51, 133, 255);
  font-size: 1.29rem;
}

.portfolio-item {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.portfolio-item .logo-wrap {
  padding-right: 20px;
  font-size: 14px;
}
.portfolio-item .logo-wrap img {
  width: 80px;
}
.portfolio-item .description-wrap p {
  margin: 0;
}
.portfolio-item .description-wrap h3 {
  margin: 0;
}
.portfolio-item .description-wrap ul {
  margin: 0;
  font-size: 12px;
  list-style-position: inside;
}
.portfolio-item .description-wrap .tech {
  margin-top: 2px;
  font-size: 12px;
}
.portfolio-item .description-wrap .tech li {
  list-style-type: none;
}
.portfolio-item .description-wrap .date {
  font-style: italic;
}
.portfolio-item .description-wrap a {
  color: blue;
  font-weight: bold;
  font-size: 10px;
}