pre {
  white-space: pre-wrap;
}

code {
  white-space: pre-wrap;
}

* {
  box-sizing: border-box;
}

fieldset {
  border: none;
}

h1 {
  font-size: 28px;
  border-bottom: 1px solid #3385ff;
}

dl dt {
  display: inline-block;
  font-weight: bold;
  color: rgb(51, 133, 255);
}

dl dt::after {
  content: ": ";
}

dl dd {
  margin: 0px 0px 10px;
  font-style: italic;
  font-size: 14px;
}

body {
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  line-height: 1.4;
  background-color: #f2f2f2;
  background-image: -webkit-linear-gradient(10deg, #efefef 50%, #f4f4f4 50%);
  background-image: -webkit-linear-gradient(10deg, #fff59e 50%, #f4f4f4 50%);
  background-image: -webkit-linear-gradient(10deg, #ffbb33 50%, #f4f4f4 50%);
  background-image: -webkit-linear-gradient(9deg, rgba(255, 187, 51, 0.16) 50%, #f4f4f4 50%);
}

h1 {
  font-size: 28px;
  border-bottom: 1px solid "#3385ff";
}
h1:after {
  content: " /";
  color: "#3385ff";
}
h1:before {
  content: "/ ";
  color: "#3385ff";
}

h3 {
  color: "#3385ff";
  font-size: 1.29rem;
}
h3:before {
  content: "{ ";
  color: #b3b3b3;
}
h3:after {
  content: " }";
  color: #b3b3b3;
}

h4 {
  margin-bottom: 0;
}

h6 {
  margin: 10px 0;
}

h5 {
  margin: 10px 0;
}

span {
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: "#3385ff";
}

ul {
  list-style-type: square;
  padding: 0;
  margin: 0 0 0 30px;
  font-size: 14px;
}

/* Reset the margin for indented list item in markdown */
li > p {
  margin: 0;
}

li span:last-child {
  margin-left: 5px;
}

dl dd {
  margin: 0 0 10px 0;
  font-style: italic;
  font-size: 14px;
}
dl dt {
  display: inline-block;
  font-weight: bold;
  color: "#3385ff";
}
dl dt:after {
  content: ": ";
}

.aside {
  max-width: 300px;
  display: none;
  font-size: 14px;
  padding: 10px;
  padding-left: 40px;
  margin-top: 240px;
}
.aside header {
  font-size: 20px;
}
@media (min-width: 800px) {
  .aside {
    display: block;
  }
}

.wrap {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding-bottom: 100px;
}

@media (min-width: 700px) {
  .inner {
    display: flex;
    justify-content: flex-start;
  }
}

main {
  margin: 1rem auto;
  max-width: 90vw;
  width: 700px;
}
@media (min-width: 700px) {
  main {
    border-left: 1px solid #dedede;
    margin: 0;
    margin-top: 50px;
    padding-left: 30px;
  }
}
main > p:first-of-type {
  line-height: 2;
  font-size: 25px;
  background: #eaeaea;
  border-bottom: 1px solid #3385ff;
  box-shadow: 1px 1px 1px #ccc;
  padding: 0 10px;
  font-family: "Acme", sans-serif;
}