<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "head.html" %}
  </head>
  <body>

    {% block content %}
      {{ content | safe }}
    {% endblock %}
  </body>
</html>
<script>
    var offScreen = false;

    function handleScroll() {
      const elem = document.getElementsByClassName("gototop")[0];
        if (window.pageYOffset > 200) {
            elem.style.position = "fixed";
            elem.style.display = "block";
        } else {
            elem.style.position = "relative";
            elem.style.display = "none";
        }
    }

    function closeNav(e) {
        // document.getElementById("js_navigation").style.display = 'none';
    }

    window.addEventListener("scroll", this.handleScroll);
    document.body.addEventListener("click", this.closeNav(this), false);

    // TODO: Do I need to remove this at some point?
    // window.removeEventListener("scroll", this.handleScroll);

    /// navigation:
    let hamburger = document.querySelector(".hamburger");
    let navigation = document.querySelector(".nav");
    let isOpen = document.body.classList.contains("open");

    if (isOpen) {
      document.body.classList.remove("open");
    }

    hamburger.addEventListener("click", e => {
      e.preventDefault();
      document.body.classList.toggle("open");
    });

    navigation.addEventListener("click", e => {
      let name = e.target.tagName;
      if (name === "A" && isOpen) {
        document.body.classList.remove("open");
      }
    });

</script>