---
layout: layouts/base.html
title: Josh Blog
---

<div class="wrap">
    <div class="inner">
        <a id="top" href="#1" aria-label="top"></a>

        <button class="hamburger">
            <span></span>
        </button>
        {% include "partials/navigation.html" %}

        <main>
            {% include "partials/logo.html" %}
            <div class="social">
                {% include "partials/social.html" %}
            </div>

            {% block content %}
              <article class="post__content">
                <h1>{{ title }}</h1>
                {{ content | safe }}
              </article>
            {% endblock %}

            {% include "partials/gototop.html" %}
        </main>

        <div class="aside">
            {% include "partials/glance.html" %}
        </div>
    </div><!-- inner-->
</div><!-- wrap -->
{% include "partials/footer.html" %}