---
pagination:
  data: collections
  size: 1
  alias: tag
  addAllPagesToCollections: true
layout: layouts/base.html
permalink: /blog/tag/{{tag | slugify }}/index.html
eleventyComputed:
  title: Posts Tagged with "{{ tag }}"
---

<div class="wrap">
    <div class="inner">
        <a id="top" href="#1" aria-label="top"></a>

        <button class="hamburger">
            <span></span>
        </button>
        {% include "navigation.html" %}

        <main>
            {% include "logo.html" %}
            <div class="social">
                {% include "social.html" %}
            </div>

            {% block content %}
              <article class="post__content">
                <h1>Thoughts Tagged with '{{ tag }}'</h1>
                <ul>
                {% for post in collections[tag] %}
                  <li>
                    <a href="{{post.url}}">{{post.data.title}}</a>
                  </li>
                {% endfor %}
                </ul>
              </article>
            {% endblock %}

            {% include "gototop.html" %}
        </main>

        <div class="aside">
            {% include "glance.html" %}
        </div>
    </div><!-- inner-->
</div><!-- wrap -->
{% include "footer.html" %}