---
layout: layouts/base.html
title: Josh Blog
---

<div class="wrap">
<div class="inner">
     <a id="top" href="#1" aria-label="top"></a>

     <button
      className="hamburger"
      css={css`
        cursor: pointer;
        z-index: 100;
        outline: none;
        background: transparent;
        display: inline-block;
        padding: 20px;
        border: none;
        position: relative;
        user-select: none;
        /* TODO: Restricts going to full height at wide resolutions */
        max-height: 62px;
        @media (min-width: 700px) {
          display: none;
        }
      `}
    >
      <span
        css={css`
          display: inline-block;
          background: #000;
          height: 0.25rem;
          position: relative;
          width: 2rem;
          transition: background 0.4s ease;
          &:before,
          &:after {
            display: inline-block;
            background: #000;
            width: 2rem;
            content: "";
            height: 0.25rem;
            position: absolute;
            left: 0;
          }
          &:before,
          &:after {
            transition: top 0.4s 0.4s ease, transform 0.4s ease;
            transform-origin: 50% 50% 0;
          }
          &:before:hover,
          &:after:hover {
            background: #000;
          }
          &:before {
            top: -0.6rem;
          }
          &:after {
            top: 0.6rem;
          }
        `}
      ></span>
    </button>
    {% include "navigation.html" %}

    <main>
    {% include "logo.html" %}
    {% include "social.html" %}
        {% include "intro.html" %}
        {% include "glance.html" %}
        {% include "interests.html" %}
        <section>
            <header>Latest Posts:</header>

            <dov class="stats">

                <ul>

                    {% set pageTitle = collections.posts | limit(2) %}
                    {% for post in pageTitle %}
                    <li><a href="{{post.url}}">{{ post.data.title }}</a></li>
                    {% endfor %}

                    {{ pageTitle | debugger }}

                </ul>
            </dov>
        </section>
    </main>
    {% include "footer.html" %}

    <div class="aside">
        {% include "glance.html" %}
    </div>
    </div><!-- inner-->
</div><!-- wrap -->