---
layout: layouts/base.html
title: Josh Blog
---

<div class="wrap home">
    <div class="inner">
        <a id="top" href="#1" aria-label="top"></a>

        <button class="hamburger">
            <span></span>
        </button>
        {% include "partials/navigation.html" %}

        <main>
            {% include "partials/logo.html" %}
            <div class="social">
                {% include "partials/social.html" %}
            </div>

            {% include "partials/intro.html" %}
            {% include "partials/glance.html" %}
            {% include "partials/interests.html" %}

            <!-- tags: -->
            <section class="tags">
                <header>
                    <Link to="/tags">Tags</Link>
                </header>

                <ul aria-labelledby="tags">
                    {% for tag in collections.tags %}
                    <li><a href="blog/tag/{{ tag | url }}">{{ tag }}</a></li>
                    {% endfor %}
                </ul>
            </section>
            <!-- end tags -->

            <!-- stats: -->
            <section class="latest_posts">
                <header>Latest Posts:</header>
                <dov class="stats">
                    <ul>
                        {% set pageTitle = collections.posts | reverse | limit(3) %}
                        {% for post in pageTitle %}
                        <li><a href="{{post.url}}">{{ post.data.title }}</a></li>
                        {% endfor %}
                    </ul>
                </dov>
            </section>
            <!-- end stats -->

            {% include "partials/gototop.html" %}
        </main>

        <div class="aside">
            {% include "partials/glance.html" %}
        </div>
    </div><!-- inner-->
</div><!-- wrap -->
{% include "partials/footer.html" %}