<ul>
 <li>
      <a href="/"> Home </a> 
    </li>
    <li>
      <a href="/thoughts"> Thoughts </a> 
    </li>
    <li>
      <a href="/applications"> Applications </a> 
    </li>
    <li>
      <a href="/training"> Training </a>
    </li>
    <li>
      <a href="/certifications">Certs </a>
    </li>
    <li>
      <a href="/resume"> Resume </a>
    </li>
    <li>
      <a href="/snippets"> Snippets </a>
    </li>
    <li>
      <a href="/definitions"> Definitions </a>
    </li>
    <li>
      <a href="/resources"> Resources </a>
    </li>
    <li>
      <a href="/me"> About </a>
    </li>
</ul>