<section class='side-links'>
  <header>Tech</header>
  <ul>
    <li>
      <a href="https://www.linkedin.com/in/joshuayoung1">LinkedIn</a>
    </li>
    <li>
      <a href="https://www.credly.com/users/joshayoung/badges">Credly</a>
    </li>
    <li>
      <a href="/tech-spectrum">Spectrum</a>
    </li>
    <li>
      <a href="/tips">Tips</a>
    </li>
    <li>
      <a href="/recommended-repos">Recommended Repos</a>
    </li>
    <li>
      <a href="/me#podcasts">Podcasts</a>
    </li>
  </ul>
</section>